<div class="container-fluid py-5">
    <div class="row px-xl-5">
        <div class="col">
            <div class="owl-carousel vendor-carousel">
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/adidas.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/columbia.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/hummel.jpg" alt="">
                </div>
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/ikea.png" alt="">
                </div>
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/koctas.jpg" alt="">
                </div>
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/lacoste.jpg" alt="">
                </div>
                <div class="bg-light p-4" style="height:120px;width:150px">
                    <img src="~/images/ventor/nike.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>