<div class="tab-pane fade show active" id="tab-pane-1">
    <h4 class="mb-3">Ürün Detayları</h4>
    <p>
        Ayakkabı, sadece ayaklarımızı koruyan bir aksesuar değil, aynı zamanda kişiliğimizi yansıtan önemli bir moda unsuru. Farklı tasarımlar, malzemeler ve özelliklerle üretilen ayakkabılar, her tarza ve ihtiyaca hitap ediyor.
    </p>
</div>