<aside class="main-sidebar dark-bg">
    <section class="sidebar">
        <br/>
        <!-- Sidebar Menu -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header dark-bg">Menü</li>
            <li> <a href="/Default/Index/"> <i class="fa fa-home"></i> <span>Siteye Git</span></a> </li>
            <li> <a href="/Admin/Category/Index/"> <i class="fa fa-list"></i> <span>Kategoriler</span></a> </li>
            <li> <a href="/Admin/Product/ProductListWithCategory/"> <i class="fa fa-tag"></i> <span>Ürünler</span></a> </li>
            <li> <a href="/Admin/SpecialOffer/Index"> <i class="fa fa-ticket"></i> <span>İndirim Oranları</span></a> </li>
            <li> <a href="/Admin/FeatureSlider/Index"> <i class="fa fa-sliders"></i> <span>Slider Paneli</span></a> </li>
            <li><a href="/Admin/Feature/Index/"> <i class="fa fa-anchor"></i><span>Öne Çıkan Alan Paneli</span></a></li>
            <li><a href="/Admin/OfferDiscount/Index/"> <i class="fa fa-coffee"></i><span>İndirim Teklifleri</span></a></li>
            <li><a href="/Admin/Brand/Index/"> <i class="fa fa-globe"></i><span>Markalar</span></a></li>
            <li><a href="/Admin/About/Index/"> <i class="fa fa-info"></i><span>Hakkımızda</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-comment"></i><span>Yorumlar</span></a></li>
            <li><a href="/Admin/User/UserList/"> <i class="fa fa-users"></i><span>Kullanıcı Listesi</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-shopping-basket"></i><span>Sipariş Listesi</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-money"></i><span>Kasa Bilgileri</span></a></li>
            <li><a href="/Admin/Statistic/Index/"> <i class="fa fa-line-chart"></i><span>İstatistikleri</span></a></li>
            <li><a href="/Admin/Cargo/CargoCompanyList/"> <i class="fa fa-truck"></i><span>Kargo</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-picture-o"></i><span>Görseller</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-paper-plane"></i><span>Mesajlar</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-cogs"></i><span>Ayarlar</span></a></li>
            <li><a href="/Admin/Comment/Index/"> <i class="fa fa-sign-out"></i><span>Çıkış Yap</span></a></li>
        </ul>
        <!-- sidebar-menu -->
    </section>
</aside>
